
<!-- <form action="open"> -->
	<table class="infotable">
		<tr>
			<td width="20%">User</td><td width="80%">Password</td>
		<tr>
		<tr>
			<td><input class="host" type="text" name="user" value="sa4sp\administrator" /></td>
			<td><input class="url" type="text" name="password" value="1" /></td>
		<tr>
		<tr>
			<td width="20%">Host</td><td width="80%">Url</td>
		<tr>
		<tr>
			<td><input class="host" type="text" name="host" value="http://warrior10-1:3141" /></td>
			<td><input class="url" type="text" name="url" value="/api/content/doclibs?url=http://warrior10-1:600/sites/sc1003" /></td>
		<tr>
		<tr>
			<td colspan="2">
				<button id="id_get">GET</button>
				<button id="id_put">PUT</button>
				<button id="id_post">POST</button>
				<button id="id_get_actual_on">GET Actual On</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="id_check">Check API Process</button>
				<button id="id_clear" class="right">Clear Results</button>
			</td>
		</tr>
	</table>
<!-- <form> -->

<fieldset id="result">
	<legend>Result Elements</legend>
</fieldset>